<html>
	<head>
		<title>Battleships</title>
		<link rel="stylesheet" type="text/css" href="index.css">
				
		<script src="../libs/socketio.js"></script>
		<script src="../libs/p5.js"></script>
		<script src="../libs/clickables.js"></script>
		
		<script>
            var socket = io();
            function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                    vars[key] = value;
                });
                return vars;
            }
            var gameId = getUrlVars()["game"];
            socket.emit('play-game', gameId);
        </script>
		<script src="main.js"></script>
		
		<script src="Objects/player.js"></script>		
		<script src="Objects/ship.js"></script>		
		<script src="Objects/gameboard.js"></script>
        <script src="Objects/hitBoard.js"></script>
        
	</head>
</html>