body {
	height: 100% !important;

	overflow-y:scroll;
	overflow-x: hidden;
}

.play-frame{

	width: 100%;
	height: 500px;
    padding-left:40px;
	position: absolute;
  top: 50%;
  left: 50%;

	 

	
  color: #ffffff;
	
	
	transition-duration: 500ms;

  transform: translate(-50%, -50%);

	

}



#play-label{
	
	


	position: absolute;
	top: 50%;
	left: 50%;


  font-size: 32px;

  border-bottom: 5px solid #b30000;

	

}

#play-frame-border {

	
	display: inline-block;
	

	width: 1350px;
	height: 500px;
	
	padding: 8px;

	background: #070707 !important;

	border: 2px solid #b30000;
	border-radius: 5px;




}

#chat-box-frame{

	display: inline-block;
	position: relative;
	top: 0%;
	width: 25%;
	height: 100%;
	overflow-y: scroll;
	margin-left: 8px;
	padding: 8px;
	background: #0d0d0d;
	border: 2px solid #b30000;
	border-top: none;
	border-bottom: none;
	
}

#chat-box-bottom{
	position: relative;

	top: 0%;
	left: 72.4%;
	width: 25%;
	background: #070707
}

#chat-box-input{

	position: relative;
	display: inline-block;
	width: 40%;
	font-size: 16px;	
  outline: none;
	background: #070707;
	padding:10px;
	padding-left:8px;
	border: none;
	border-left: 2px solid #b30000;
	border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ffffff;
	transition: border 500ms ease-in-out;

	

}



#chat-box-input:focus{
	border-left-color: #ffffff;
}

#chat-box-button{
	width: 20%;
	display: inline-block;
  border: 1px solid #b30000;
  background: none;
  padding: 8px;
	margin-left: 48px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
	text-align: center;
	text-decoration: none;
  transition-duration: 500ms;



}

#chat-box-button:hover{
  background: #b30000
}

.chat-box-item{
	
	display: block;
	top: 0%;
	
	width: 100%;
	height: fit-content;

	padding: 8px 4px 8px 4px;

	
}




::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
		
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
		border: 1.5px solid #ffffff;
    -webkit-border-radius: 1.5px;
    border-radius: 10px;
		

		box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
