<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title> playIndex </title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/playindex.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="libs/socketio.js"></script>
    <script>

    var socket = io();
    var username = "<%= username %>";

    $(document).ready(function() {
        $('#create-button').click(function() {
            $.get("/currentGameID", undefined, function(data) {
                socket.emit('new-game', username);
                window.location.href = '/play?creator=true&game='+data;
			});
        });
        $("#mv-home-btn").click(function() {
            window.location.href = '/'
        });
    });

    socket.emit('join-room', 'lobby')

    socket.on("new-game", function(data) {
        let html = `
        <div id="game-${data.id}" class="play-index-item">
			<div class="play-index-item-g">${data.creator}</div>
			<div class="play-index-item-g play-index-item-2">${data.id}</div>
			<div id="join-game-btn-${data.id}" class="play-index-item-button">Join</div>
        </div>
        `;
        $(".play-index-border").append(html);
        $("#join-game-btn-"+data.id).click(function () {
            socket.emit("joined-game", data.id);
            window.location.href = '/play?game='+data.id;
        });
    });

    socket.on("joined-game", function(data) {
        $("#game-"+data).remove();
    });

    </script>
</head>
<body>
	<div class="headerBox">
        <a id="mv-home-btn" class="index" href="#">Board.Ships()</a>
        <h2>User: <%= username %></h2>
    </div>
	<div id="play-index-header">
		<div id="play-index-header-header">Lobbies </div>
		<div class="play-index-header-text">User</div>
		<div class="play-index-header-text">ID</div>
        <div id="create-button" type="button">Create</div>
    </div>
    <div class="play-index">
	    <div class="play-index-border"> 
        </div>
	</div>
</body>
</html>
