<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title> Nav </title>
    <link rel = "stylesheet" href = "css/style.css">
	<link rel = "stylesheet" href = "css/play.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="libs/socketio.js"></script>
    <script>

    var socket = io();
    var username = "<%= username %>";
    var gameId = getUrlVars()["game"];
    var creator = getUrlVars()["creator"];

    $(document).ready(function() {
        $("#mv-home-btn").click(function() {
            window.location.href = '/'
        });
        $("#chat-box-button").click(function() {
            let entry = $("#chat-box-input").val();
            if (entry && !entry.includes("<")) {
                $("#chat-box-input").val("");
                socket.emit("message",  {room:gameId, content:entry, sender:username});
                let html = '<div class = "chat-box-item">'+username+': '+entry+'</div>';
                $("#chat-box-frame").append(html);
                var chatBox = document.getElementById("chat-box-frame");
                chatBox.scrollTop = 10000000000;
            }
        });
        $("#gameFrame").attr("src", "game/index.html?game="+gameId);
    });

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }

    

    socket.emit('join-room', gameId);

    socket.on('message', function(data) {
        let html = '<div class = "chat-box-item">'+data.sender+': '+data.content+'</div>';
        $("#chat-box-frame").append(html);
        var chatBox = document.getElementById("chat-box-frame");
        chatBox.scrollTop = 10000000000;
    });
    
    </script>
</head>
<body>
	<div class = "headerBox">
		<a id = "mv-home-btn" class = "index" href = "#">Board.Ships() </a>
		<h2>User: <%= username %></h2>
    </div>
	<h1 id= "play-label"> Play </h1>
    <div class = "play-frame">
		<div id ="play-frame-border">
            <iframe id="gameFrame" width=100% height=100% frameBorder="0"></iframe>
        </div>
        <div id = "chat-box-frame">
		</div>
		<div id = "chat-box-bottom">
            <input id = "chat-box-input" type = "text" placeholder = "Enter..." maxlength="50" />
            <a id = "chat-box-button" type = "button"> Send</a>
       </div>
    </div>
</body>
</html>
